.site-footer{
  padding: 0;
  border: none;
  .wrap{
    max-width: 1282px;
    p{
      padding: 18px 0 56px;
      border-top: 1px solid #2f2f39;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.07;
      letter-spacing: -0.41px;
      text-align: center;
      color: #2f2f39;
    }
  }
}
