.site-header{
  .nav-primary{
    .genesis-nav-menu{
      .menu-item{
        a{
          font-size: 14px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 2.86;
          letter-spacing: -0.21px;
          color: #0a334d;
        }
      }
    }
  }
}
