/*
* Global
*/
@import 'vars';
@import 'fonts';
@import 'default';
@import 'common';

body{
	font-family: $main-font;
	font-size: 16px;
	font-weight: normal;
	.container,.wrap{
		max-width: $max-width;
		margin: 0 auto;
		padding: 0 16px;
	}
	.site-inner{
		max-width: $max-width;
		padding: 32px 16px;
	}
	.footer-widgets .wrap{
		max-width: $max-width;
	}
	&.elementor-template-full-width{
		.site-inner{
			max-width: 100%;
			padding: 0;
		}
	}
}


/*
* Import
*/
@import 'header';
@import 'mega-menu';
@import 'footer';
@import 'home';
@import 'search';
@import 'custom-main';
